.button {
    background-color:aqua;
    color: white;
    height: 50px;
    width: 150px;
    cursor: pointer;
    text-transform: uppercase;
}
#click1 {
    font-size: 16px;
    background-color: lightgreen;
    border: none;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    color: black;
    font-weight: bold;
}
#click2 {
    font-size: 20px;
    background-color: orange;
    border: solid black 3px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    color: black;
    font-weight: bold;
}